In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [47]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [48]:
# preparing the database file to be connected to later
engine = create_engine("sqlite:///hawaii.sqlite")
# engine

In [49]:
# set up a foudation on which to build the base
Base = automap_base()

In [50]:
# reflect an existing database into a new model
# we reflect the db into a new model where we can transfer contents of a db from  one struct to another
# reflect the tables
Base.prepare(engine, reflect=True)
# Base
# Base.classes

In [51]:
# We can VIEW all of the classes that automap found
# copy/reflect our data into classes instead of db tables
Base.classes.keys()

['measurement', 'station']

In [52]:
# lets save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [54]:
# Lets create a session to link to our db

session = Session(engine)

# Exploratory Climate Analysis

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# How many stations are available in this dataset?

In [ ]:
# What are the most active stations?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates

# Challenge